<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
                <li id="logo_li">Sunandan's Weather Website</li>
                <div class="animation">

                </div>
                <div class="animation2">

                </div>
                <ul id="ul_for_navbar2">
                    <a href="/index">
                        <li id="home">Home</li>
                    </a>
                    <a href="/weather">
                        <li  id="weather">Weather</li>
                    </a>
                    <a href="/about">
                        <li id="about">About</li>
                    </a>
                    <a href="/midddleware">
                        <li id="middleware">Log In</li>
                    </a>
                </ul>
            </nav>
       <div class="image34">

       </div>    
</body>
</html>