<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Website</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body> 
    
    <!--Main Navbar-->
            <nav>
                <li id="logo_li">Sunandan's Weather Website</li>
                <div class="animation">

                </div>
                <div class="animation2">

                </div>
                <ul id="ul_for_navbar2">
                    <a href="/index">
                        <li id="home" >Home</li>
                    </a>
                    <a href="/weather">
                        <li id="weather">Weather</li>
                    </a>
                    <a href="/about">
                        <li id="about">About</li>
                    </a>
                </ul>
            </nav>
       <!--Main Navbar Ends-->
       
       <div class="image">

       </div>
       <div class="some_text">
        <h1 id="middle_text">This website is created through "HTML,CSS,JAVASCRIPT" and for backend i used "NODE JS" along with "EXPRESS".</h1>
        <a  id="btn" href="/weather"><button>Check Weather</button></a>
        
    </div>
    
    
</body>
</html>