<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Website</title>
    <link rel="stylesheet" href="css/style1.css">
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
      <nav>
                <li id="logo_li">Sunandan's Weather Website</li>
                <div class="animation">

                </div>
                <div class="animation2">

                </div>
                <ul id="ul_for_navbar2">
                    <a href="/index">
                        <li>Home</li>
                    </a>
                    <a href="/weather">
                        <li>Weather</li>
                    </a>
                    <a href="/about">
                        <li>About</li>
                    </a>
                </ul>
            </nav>
    <div class="search_bar">
        <input id="search_bar_id" type="text" placeholder="Enter a city or state to check the weather">
        <button id="search_button">Check Weather</button>
    </div>
    <div class="output_section">
        <span id="box_output">
            <p id="p_tag">Get your output here</p>

        </span>
            <div class="degree">
                <h1 id="temperature">0</h1>
                <sup>c</sup>
                <div class="image_for_weather">
                    <img id="weather-picture" src="" alt=" ">

                </div>
    
            </div>
    </div>
</body>
<script src="js/script.js"></script>
</html>