 <nav>
                <li id="logo_li">Sunandan's Weather Website</li>
                <div class="animation">

                </div>
                <div class="animation2">

                </div>
                <ul id="ul_for_navbar2">
                    <a href="/index">
                        <li>Home</li>
                    </a>
                    <a href="/weather">
                        <li>Weather</li>
                    </a>
                    <a href="/about">
                        <li>About</li>
                    </a>
                </ul>
            </nav>
       <!--Main Navbar Ends-->
       